<section>
  <div class="container" ng-controller="HomeController as vm">
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        Flip Flop
      </p>
    </div>
    
  <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
    <li ui-sref-active="active">
      <a ui-sref="authentication.signup">Sign Up</a>
    </li>
    <li class="divider-vertical"></li>
    <li ui-sref-active="active">
      <a ui-sref="authentication.signin">Sign In</a>
    </li>
  </ul>
    
  <div class="row" ng-show="vm.authentication.user">
    <div class="row">
      <p>
        <a ui-sref="flipflops.list({})" href="/flipflops" class="btn btn-primary btn-lg top-btn">
          Judge some flip floppers
        </a>
      </p>
    </div>
    <div class="row">
      <p>
        <a ui-sref="flipflops.record({})" href="/flipflops/record" class="btn btn-primary btn-lg top-btn">Record a flip flop</a>
      </p>
    </div>
  </div>
  </div>
</div>
    <p>
    <a href="/api/auth/signout" target="_self">Signout</a>
    </p>
</section>
