html { background-color: OldLace; }

body {
  border: 1px solid rgb(15, 158, 238);
  margin: 1% 10%;
  padding: 15px;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid rgb(15, 158, 238);
}

a {
  color: #2844FA;
  text-decoration: none;
}

a:hover, a:focus { color: #1B29A4; }

a:active { color: #000; }

button[disabled], input[disabled] { 
  background: rgba(216, 205, 205, 0.2); 
  border: 1px solid rgb(233, 224, 224);
}

.vidcontainer {
  border: 1px solid LightSlateGray;
  margin: 0 5px 0 5px;
  overflow: hidden;
  width: 300px;
}

.videos {
  display: inline-flex;
}

video {
  width: 100%;
}

video.provid {
  -webkit-filter: hue-rotate(270deg) blur(15px);
}

video.convid {
  -webkit-filter: hue-rotate(90deg) blur(15px);
}

.container {
	width: 100%;
}

.top-btn {
	width: 100%;
}

i.fa {
  left: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 100;
}

div.playIcon {
  top: 40px;
  position: absolute;
}