html {  }

body {
  background-color: DarkSlateGray;
  color: white;
  /*border: 1px solid rgb(15, 158, 238);
  margin: 1% 10%;
  padding: 15px;*/
  padding-bottom: 15px;
  text-align: center;
}

.jumbotron {
  margin: 20px;
}

@media screen and (min-width: 700px) {
    .videos {
      display: inline-flex;
    }
}
@media screen and (max-width: 700px) {
    p {
        margin: auto;
        width: 300px;
    }
}

.content {
  margin-top: 70px;
}

p {
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
  /*
  font-family: 'Oswald', sans-serif;
  */
  font-style: bold;
}

p.lead {
  color: DarkSlateGray;
}

h1 {
  color: white;
}

hr {
  border: 0;
  border-top: 1px solid rgb(15, 158, 238);
}

a {
  color: gray;
  text-decoration: none;
}

a:hover, a:focus { color: lightgray; }

a:active { color: #000; }

button[disabled], input[disabled] { 
  background: rgba(216, 205, 205, 0.2); 
  border: 1px solid rgb(233, 224, 224);
}

.vidcontainer {
  border: 1px solid LightSlateGray;
  margin: 5px 5px 10px 5px;
  overflow: hidden;
  width: 300px;
  height: 230px;
}

video {
  width: 100%;
}

video.provid {
  -webkit-filter: hue-rotate(270deg) blur(15px);
}

video.convid {
  -webkit-filter: hue-rotate(90deg) blur(15px);
}

.container {
	width: 100%;
}

.top-btn {
	width: 80%;
}

div.playIconsContainer {
  left: -130px;
  position: relative;
  top: -220px;  
}

div.checkIconsContainer {
  position: relative;
  bottom: 200px;  
}

i.playRecIcons {
  left: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 100;
}

i.playRecIcons:hover { 
  color: DimGray;
}

i.playRecIcons:active { 
  color: gray;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.glyphicon-ok-sign, .glyphicon-remove-sign {
  color:rgba(120,120,120,0.5);
}

.glyphicon-ok-sign:hover, .glyphicon-remove-sign:hover {
  color:rgba(230,230,230,0.5);
}

.glyphicon-ok-circle {
  color:rgb(0,255,0);
}

.glyphicon-remove-circle {
  color:rgb(255,0,0);
}

span.prospan {
  position: relative;
  top: -200px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: rgba(0, 255, 0, 0.2);
}

span.conspan {
  position: relative;
  top: -200px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: rgba(255, 0, 0, 0.2);
}

span.rz-bubble {
  display: none;
}

span.rz-pointer:focus {
  outline:0;
}

.rzslider .rz-bar {
  height: 8px;
}

.rzslider .rz-bar-wrapper {
  margin-top: -18px;
}

div.fit-content {
  margin: auto;
  width: fit-content;
}

.rzslider .rz-selection {
  background: -webkit-linear-gradient(left, rgb(159, 159, 159), rgb(96, 96, 96));
}

.rz-bar {
  background: #bbbbbb;
}

.rzslider .rz-pointer {
  background-color: #888888;
}


.rzslider .rz-pointer.rz-active:after {
  background: DarkSlateGray;
  background-color: DarkSlateGray;
  border-radius: 11px;
  height: 22px;
  left: 5px;
  top: 5px;
  width: 22px;
}

.rzslider .rz-pointer:after {
  background: DarkSlateGray;
  background-color: DarkSlateGray;
  border-radius: 11px;
  height: 22px;
  left: 5px;
  top: 5px;
  width: 22px;
}

div .progress {
  width: 90%;
  margin: 0 auto 10px auto;
}

.progress-bar {
  background-color: #18bc9c;
}