<div>
<p>
{{ vm.flipflop.topic.statement }}    
</p>
<div class="videos">
<div class="vidcontainer">
  <video id="provid" class="provid"></video> 
    <label id="percentage">0%</label>
    <progress id="progress-bar" value=0></progress><br />
    <button ng-click="vm.startRecording('pro')" ng-disabled="vm.disable_rec_pro">Start Recording</button>
    <button ng-click="vm.stopRecording('pro')" ng-disabled="vm.disable_stp_pro">Stop Recording</button>
</div>
<p>

<div class="vidcontainer">
<video id="convid" class="convid"></video> 
    <button ng-click="vm.startRecording('con')" ng-disabled="vm.disable_rec_con">Start Recording</button>
    <button ng-click="vm.stopRecording('con')" ng-disabled="vm.disable_stp_con">Stop Recording</button>
</div>
</div>
</p>
    
</div>