<div class="fit-content">
<p class="text">
{{ vm.topic.statement }}    
</p>
<div class="videos">
<div class="vidWithProgress">
<div class="vidcontainer">
  <video id="provid" class="provid" poster="/modules/flipflops/client/img/poster.jpg"></video> 
    <div class="pro playIconsContainer">
    <i ng-click="vm.startRecording('pro')" ng-disabled="vm.disable_stp_pro"
      class="playRecIcons pro fa fa-dot-circle-o fa-3x"></i>
    <!--
    <i ng-click="vm.stopRecording('pro')" ng-disabled="vm.disable_stp_pro" ng-show="vm.recording.pro"
      class="playRecIcons pro fa fa-stop-circle-o fa-3x"></i>
    -->
    </div>
    <span class="prospan">PRO</span>
</div>
<div class="pro progress">
  <div id="proRecProgress" class="pro progress-bar" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
  </div>
</div>
</div>
<p>

<div class="vidWithProgress">
<div class="vidcontainer">
<video id="convid" class="convid" poster="/modules/flipflops/client/img/poster.jpg"></video> 
<div class="con playIconsContainer">
<i ng-click="vm.startRecording('con')" ng-disabled="vm.disable_stp_con"
  class="playRecIcons con fa fa-dot-circle-o fa-3x"></i>
<!--
<i ng-click="vm.stopRecording('con')" ng-disabled="vm.disable_stp_con" ng-show="vm.recording.con"
  class="playRecIcons con fa fa-stop-circle-o fa-3x"></i>
-->
</div>
<span class="conspan">CON</span>
</div>
<div class="con progress">
  <div id="conRecProgress" class="con progress-bar" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
  </div>
</div>
</div>
</div>
</p>
    
</div>